{% extends 'base.html' %}
{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id='chart5' class='chart'”></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
            Plotly.plot('chart5',{{graph5 | safe}});
            </script>
        <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id='chart6' class='chart'”></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
            Plotly.plot('chart6',{{graph6 | safe}});
            </script>
        <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id='chart7' class='chart'”></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
            Plotly.plot('chart7',{{graph7 | safe}});
            </script>
        <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id='chart8' class='chart'”></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
            Plotly.plot('chart8',{{graph8 | safe}});
            </script>
        <br>
        </div>
    </div>
</div>
{% endblock %}
